@page "/ipdefine"
@rendermode InteractiveServer
@inject IHttpClientFactory ClientFactory
@inject IHttpContextAccessor ClientContextAccessor

<PageTitle>IPDefine</PageTitle>

<h1>Определение IP</h1>

<p role="status">Current count: @ipdefault</p>

<button class="btn btn-primary" @onclick="GetIp">Определить IP</button>

@code {
    string  ipdefault = "";
    async Task GetIp()
    {
        // HttpClient httpClient = ClientFactory.CreateClient();
        // var response = await httpClient.GetAsync("http://localhost:5118/getip");
        // ipdefault=await response.Content.ReadAsStringAsync();
        var ip=  ClientContextAccessor.HttpContext?.Connection.RemoteIpAddress?.ToString();
        ipdefault = ip??"";
    }
}
