@page "/postgreswebvendor"
@using MyBlazorAppFirst.Data
@using MyBlazorAppFirst.Components.Services;
@inherits OwningComponentBase<VendorService>
<h3>Производители</h3>
<p>Данные:</p>
<table class=table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in sc)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
    </tr>
    }
    </tbody>
</table>

@code {
    public System.Collections.Generic.IList<Vendor> sc;
    protected override void OnInitialized()
    {
        //base.OnInitialized();
        sc = Service.DisplayVendors();

    }

}
